In [ ]:
import numpy as np
import pandas as pd
from google.colab import drive

In [ ]:
prefix = '/content/drive'
from google.colab import drive
drive.mount(prefix, force_remount=True)

Mounted at /content/drive

In [ ]:
# https://www.kaggle.com/datasets/dhruvildave/spotify-charts
charts_path = '/content/drive/My Drive/charts.csv'

# https://www.kaggle.com/datasets/rodolfofigueroa/spotify-12m-songs
tracks_path = '/content/drive/My Drive/tracks_features.csv'

In [ ]:
tracks_df = pd.read_csv(tracks_path)

In [ ]:
charts_df = pd.read_csv(charts_path)

In [ ]:
# filter by 2017
tracks_df = tracks_df[tracks_df["year"]>=2017]

# get rid of array-like symbols
tracks_df['artists'] = tracks_df['artists'].str.replace("', '", ", ").str.replace("']", "").str.replace("\['", "")

# rename reserved keywords
tracks_df.rename(columns={"key":"song_key"}, inplace=True)

# convert explicit to 0 and 1 (F/T)
tracks_df['explicit'] = tracks_df['explicit'].astype(int)

# project only the needed columns
projected_tracks_df = tracks_df[["id", "name", "artists", "album", "explicit", "danceability",
                                 "energy", "key", "loudness", "speechiness",	"acousticness",	"instrumentalness", "liveness",	"valence",
                                 "tempo", "duration_ms", "year"]]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  """

In [ ]:
# extract track id and drop url
charts_df['song_id'] = charts_df['url'].str.slice(start=31)
charts_df.drop('url', axis=1, inplace=True)

#change dtype of date
charts_df['date'] = pd.to_datetime(charts_df['date'])

# rename reserved keywords
charts_df.rename(columns={"date":"chart_date", "rank": "song_rank"}, inplace=True)

# project only the needed columns
projected_charts_df = charts_df[['rank', 'song_id', 'region', 'chart', 'trend', 'streams', 'date']]

In [ ]:
projected_charts_df.head()

,rank,song_id,region,chart,trend,streams,date
0,1,6mICuAdrwEjh6Y6lroV2Kg,Argentina,top200,SAME_POSITION,253019.0,2017-01-01
1,2,7DM4BPaS7uofFul3ywMe46,Argentina,top200,MOVE_UP,223988.0,2017-01-01
2,3,3AEZUABDXNtecAOSC1qTfo,Argentina,top200,MOVE_DOWN,210943.0,2017-01-01
3,4,6rQSrBHf7HlZjtcMZ4S4bO,Argentina,top200,SAME_POSITION,173865.0,2017-01-01
4,5,58IL315gMSTD37DOZPJ2hf,Argentina,top200,MOVE_UP,153956.0,2017-01-01

In [ ]:
projected_tracks_df.to_csv('projected_tracks5.csv', index=False)
!cp projected_tracks5.csv "drive/My Drive/"

In [ ]:
projected_charts_df.to_csv('projected_charts5.csv', index=False)
!cp projected_charts5.csv "drive/My Drive/"

In [ ]:
joined_df = projected_tracks_df.merge(projected_charts_df, left_on = 'id', right_on = 'song_id', how = "inner")

In [ ]:
joined_df.head(5)

,id,name,album,explicit,danceability,energy,key,loudness,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,year,artist
0,78XK5PDIKWiDKcgiLl1x0o,Still Disappointed,Still Disappointed,True,0.731,0.674,1,-6.986,0.2740,0.094300,0.000000,0.0807,0.701,139.916,165027,2020,Stormzy
123,6hkr5ZGVOt3Z2BNGE6yqpB,Lola,Lola,True,0.774,0.573,10,-9.098,0.1400,0.013200,0.000000,0.1450,0.400,141.885,232123,2019,"Iggy Azalea, Alice Chater"
126,471HeGJPKw07MObixON0Um,Tabú,Tabú,False,0.748,0.808,9,-5.943,0.0619,0.036600,0.000037,0.1100,0.553,99.997,179775,2019,"Pablo Alborán, Ava Max"
511,3yhhv0VCmKkAWD9ysDLpTE,Shots Fired,Good News,True,0.826,0.655,2,-4.775,0.3000,0.000761,0.000000,0.0841,0.450,184.057,170871,2020,Megan Thee Stallion
517,08TILUAN56HJoS1d9mNRty,Circles,Good News,True,0.842,0.789,6,-8.733,0.1780,0.026500,0.000000,0.3550,0.795,111.113,170641,2020,Megan Thee Stallion

In [ ]:
joined_df.shape[0]

7233